body{
	background: url(computer_3.jpg) no-repeat center center fixed;
	-webkit-background:cover;
	-moz-background:cover;
	-o-background:cover;
	background:cover;
}

.box{
	background-image: url(./image/computer-laptop-macbook-coding.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	
}